// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login_toolbar {
    float:right
}

ul {
  list-style: none
}

#left_screen {
  width: 50%
}

.song_player {
  height: 100px;
  border: 1px solid;
  overflow: scroll;
}